{{#each this}}
  <div class="general-info">
    <img src='{{flag}}' alt='Country Flag' height='48px' />
    <h2>{{name}}</h2>
  </div>
  
  <p class="bold">Capital: <span>{{capital}}</span></p>
  <p class="bold">Population: <span>{{population}}</span></p>
  <p class="bold">Languages:</p>
  <ul class='cc-det'>
    {{#each languages}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  <p class="bold">Currencies:</p>
  <ul class='cc-det'>
    {{#each currencies}}
      <li>{{symbol}} - {{name}} ({{code}})</li>
    {{/each}}
  </ul>
{{/each}}